.container {
	position: relative;
}

.image1 {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	position: absolute;
	left: 400px;
	bottom: 300px;
}

.image2 {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	position: absolute;
	left: 600px;
	bottom: 250px;
}

.image3 {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	position: absolute;
	left: 800px;
	bottom: 300px;
}

.image4 {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	position: absolute;
	left: 550px;
	bottom: 440px;
}

.image5 {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	position: absolute;
	left: 400px;
	bottom: 600px;
}

.image6 {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: absolute;
	left: 600px;
	bottom: 600px;
}


.image7 {
	height: 150px;
	width: 130px;
	border-radius: 50%;
	position: absolute;
	left: 1000px;
	bottom: 300px;
}


.image8 {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	position: absolute;
	left: 950px;
	bottom: 500px;
}

.image9 {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	position: absolute;
	left: 800px;
	bottom: 650px;
}


.image10 {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	position: absolute;
	left: 750px;
	bottom: 480px;
}

p.drkblue {
	color: midnightblue;
	font-size: 30px;
}

h1.big1 {
	font-size: 50px;
}

p.bluebig {
	font-size: 30px;
	color: darkturquoise;
}

body {
	font-family: 'Levenim MT';
	text-align: center;
	background-color: lightsteelblue;
}
